[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "fastapi dev main.py"

[packages]
uvicorn = "*"
fastapi = "*"
pymongo = "*"
requests = "*"
pandas = "*"
numpy = "1.26.4"

[dev-packages]

[requires]
python_version = "3.11"
